*{
    box-sizing: border-box;

    --primary-font: "Poppins", sans-serif;

    --primary-color: #fffcf4;
    --secondary-color: #171100;
    --third-color: #2e2100;
    --fourth-color: #ffb900;
    --text-color: #5f5b53;
}

body{
    font-family: var(--primary-font);
    color: var(--text-color);
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.button{
    border-radius: 45px;
    color: white;
}

.button-card{
    padding: 15px 30px;
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-card:hover{
    background-color: white;
    color: var(--third-color);
}