/* Header */
.header{
    background-color: var(--primary-color);
    position: relative;
    width: 100%;
}

.header .header-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header .header-nav .nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header .header-nav .nav .list{
    display: flex;
    gap: 25px;
}

.header .header-nav .nav .list li{
    transition: all 0.3s ease;
    cursor: pointer;
}

.header .header-nav .nav .list li:hover{
    text-decoration: underline;
}

.header .header-nav .nav button{
    background-color: var(--secondary-color);
    font-weight: 600;
    font-size: 16px;
    padding: 15px 40px;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.header .header-nav .nav button:hover{
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* End Header */

